<div id="contact-form">
<h2>Contact</h2>

<%= simple_form_for(@contact_form, :url => contact_send_url(@contact_form), :html => { :method => :post }, :remote => true) do |f|%>
  <%= f.error_notification %>

 <div class="inputs">
  <p>
   <%= f.input :name, :input_html => { :class => 'textfield' }%>
  </p>
  <p>
   <%= f.input :email, :input_html => { :class => 'textfield' } %>
  </p>
  <p>
  <%= f.input :message, :as => :text, :input_html => {:rows => '15', :class => 'textarea' }%>
  </p>
 </div>

 <div class="actions">
   <%= f.button :submit, 'Send Email', :class => "fancybox" %>
 </div>
 
<% end %>
</div>
